.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
  ;
  background-image: url('i4.jpg');
  background-size: 1500px 800px;
}

html {
  scroll-behavior: smooth;
}

.header {
    grid-area: header;
}

.main {
   grid-area: main;
}
footer {
      grid-area: footer;
      
}

.card {
  min-height: 35rem;
  max-width: 23rem;
  border-color:purple;
  box-shadow: 10px 10px 5px rgb(173, 202, 230);
  opacity: 0.95;
  animation: fade-in-right 1000ms forwards;
  
}

p{
  color: rgb(50, 168, 151);
  font-size: larger;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title
{
  text-align: center;
  background-color:goldenrod;
  color: white;
}

#img{
  height: 228.42px;
}

li
{
  margin-left: 20px;
  margin-right: 20px;
}
.hoverchange:hover
{
  background-color: goldenrod;
}

hoverchange:active
{
  background-color: goldenrod;
}

.grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  gap: 10px;
  border-width: 2px;
  text-indent: initial;
}
.save
{
  position: center;
  color:red;
}

label
{
  color: rgb(50, 168, 151);
}

h3{
  color: white;
  background-color: goldenrod;
  text-align: center;
}

#divIntro{
  text-indent: 50px;
}


#divAboutMe:target, #divContactMe:target{

 text-indent: 50px;
  min-height: 35rem;
  max-width: 23rem;
  border-color:purple;
  box-shadow: 10px 10px 5px rgb(173, 202, 230);
  background-color: white;
  opacity: 0.90;
}



.flex-container
{
  display: flex;
  flex-direction: column;
  height:500px;
  width:400px;
  overflow:scroll;
  border-style:groove;
}

.side-img
{
  height: 500px;
  width: 400px;
  border-width: 2px;
}

p
{
  font-size: larger;
  padding: 5px;
}

header{
  opacity: 0.90;
  width: 100%;
  border: 3px solid #73AD21;
}

.txtcolor
{
  color: white;
}

.fa {
  font-size: 500px;
  cursor: pointer;
  user-select: none;
  size:1000px;
  
}

.fa:hover {
  color:gold;
  
}
