@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  transition: all 0.4s ease-in;
}


h1 {
  text-align: center;
  margin-top: 1.25rem;
}


.main{
  display: grid;
  width: 100%;
  min-height: calc(100vh - 4.25rem);
  place-content: center;
  gap: 1rem;
  text-align: center;
}


.dark-mode {
  background-color: #333;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}


.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}


.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #2196f3;
}


input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}


input:checked + .slider:before {
  transform: translateX(1.63rem);
}


.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
  ;
  background-image: url('i4.jpg');
  background-size: 1500px 800px;
}

html {
  scroll-behavior: smooth;
}

.header {
    grid-area: header;
}

.main {
   grid-area: main;
}
footer {
      grid-area: footer;
      
}

.card {
  min-height: 35rem;
  max-width: 23rem;
  border-color:purple;
  box-shadow: 10px 10px 5px rgb(173, 202, 230);
  opacity: 0.95;
  animation: fade-in-right 1000ms forwards;
  
}

p{
  color: rgb(50, 168, 151);
  font-size: larger;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title
{
  text-align: center;
  background-color:goldenrod;
  color: white;
}

#img{
  height: 228.42px;
}

li
{
  margin-left: 20px;
  margin-right: 20px;
}
.hoverchange:hover
{
  background-color: goldenrod;
}

hoverchange:active
{
  background-color: goldenrod;
}

.grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  gap: 10px;
  border-width: 2px;
  text-indent: initial;
}
.save
{
  position: center;
  color:red;
}

label
{
  color: rgb(50, 168, 151);
}

h3{
  color: white;
  background-color: goldenrod;
  text-align: center;
}

#divIntro{
  text-indent: 50px;
}


#divAboutMe:target, #divContactMe:target{

 text-indent: 50px;
  min-height: 35rem;
  max-width: 23rem;
  border-color:purple;
  box-shadow: 10px 10px 5px rgb(173, 202, 230);
  background-color: white;
  opacity: 0.90;
}



.flex-container
{
  display: flex;
  flex-direction: column;
  height:500px;
  width:400px;
  overflow:scroll;
  border-style:groove;
}

.side-img
{
  height: 500px;
  width: 400px;
  border-width: 2px;
}

p
{
  font-size: larger;
  padding: 5px;
}

header{
  opacity: 0.90;
  width: 100%;
  border: 3px solid #73AD21;
}

.txtcolor
{
  color: white;
}

.fa {
  font-size: 500px;
  cursor: pointer;
  user-select: none;
  size:1000px;
  
}

.fa:hover {
  color:gold;
  
}
